################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/BananaFactory/.vs/BananaFactory/v16/Server/sqlite3/db.lock
