<div class="navbar-brand" style="padding: 1em; width: 100%; background-color: white;">
    <div>
        <div class="form-inline">
            <div style="margin-left: 2em;">
                <img width="150" alt="Angular Logo" src="assets\img\BananaFactory.PNG" />
            </div>
            <div style="margin-left:10em">
                <input class="form-control searchInput" type="search" placeholder="sök produkter...">

                <button class="btn btn-secondary">
                    <span>
                        <img width="20" src="assets\img\magnifyingglas.png">
                    </span>
                </button>

            </div>
            <div style="margin-left: 20em;">
                <button class="btn btn-secondary">
                    <span><img width="20" src="assets\img\shopping-cart.png"></span>
                    <span style="margin-left: .5em;">Kundvagn ({{numberOfProductsInChart}})</span>
                </button>
                <button class="btn btn-primary" style="margin-left: 2px;">

                    <span>Till kassan</span>
                    <span>
                        <img width="20" src="assets\img\arrowRight.png">
                    </span>
                </button>
            </div>
        </div>
    </div>
    <ul class="nav" style="margin-left: 2em; margin-top: 1em; width: 100%;">
        <li *ngFor="let type of productTypes">
            <button class="btn btn-primary" style="margin-left: 2px; height: 80%;" value="{{type}}" (click)="getProductTypeCallback($event)">{{type}}</button>
        </li>
            <li style="margin-left: 15em;">
                <button class="btn btn-secondary text-monospace " style="height: 80%;" (click)="goToPrivate($event)" value="Private">Privat</button>
            </li>
            <li style="margin-left: 0.1em;">
                <button class="btn btn-secondary text-monospace " style=" height: 80%;" (click)="goToPrivate($event)" value="Company">Företag</button>
            </li>
    </ul>

</div>