<div class="navbar-brand" style=" width: 100%; background-color: white;">
    <div>
        <div class="form-inline">
            <div style="margin-left: 1.6em;">
                <img width="200" alt="Angular Logo" src="assets\img\BananaFactory.PNG" />
            </div>
            <div style="margin-left:5em">
                <input class="form-control searchInput" type="search" placeholder="sök produkter..."
                    style="min-width: 25em; font-family:sans-serif; font:x-large">

                <button class="btn btn-secondary">
                    <span>
                        <img width="20" src="assets\img\magnifyingglas.png">
                    </span>
                </button>

            </div>
            <div style="margin-left: 14.3em;">
                <button class="btn btn-secondary">
                    <span><img width="20" src="assets\img\shopping-cart.png"></span>
                    <span style="margin-left: .5em;">Kundvagn ({{numberOfProductsInChart}})</span>
                </button>
                <button class="btn btn-primary" >

                    <span>Till kassan</span>
                    <span>
                        <img width="20" src="assets\img\arrowRight.png">
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div style="float: flex;">
        <ul class="nav" style="margin-left: 2em; margin-top: 1em; min-width: 100%;">
            <li *ngFor="let type of productTypes">
                <button class="btn btn-primary" style="margin-left: 2px; height: 80%;min-width: 5em;"
                    value="{{[type.ProductTypeId,type.ProductType]}}"
                    (click)="getProductTypeCallback($event)">{{type.ProductType}}</button>
            </li>

        </ul>
        <ul class="nav" style=" float:right; margin-right: 3em">
            <li>
                <button class="btn btn-secondary text-monospace " style="height: 80%;"
                    (click)="privateOrCompanyCallback($event)" value="Private">Privat</button>
            </li>
            <li>
                <button class="btn btn-secondary text-monospace " style=" height: 80%;"
                    (click)="privateOrCompanyCallback($event)" value="Company">Företag</button>
            </li>
        </ul>
    </div>

</div>